/ShoppingCenter-interface/build/
/ShoppingCenter-interface/dist/
/ShoppingCenter-interface/nbproject/private/
/ShoppingCenter-war/build/
/ShoppingCenter-war/nbproject/private/
/ShoppingCenter/ShoppingCenter-ejb/build/
/ShoppingCenter/ShoppingCenter-ejb/dist/
/ShoppingCenter/ShoppingCenter-ejb/nbproject/private/
/ShoppingCenter/build/
/ShoppingCenter/dist/
/ShoppingCenter/nbproject/private/